.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrowright {
	font-size:calc(17/10)*1rem;
	width:calc(10/17)*1em;
}
.icon-call {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
.icon-close {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-money {
	font-size:calc(21/10)*1rem;
	width:calc(35/21)*1em;
}
.icon-ok {
	font-size:calc(12/10)*1rem;
	width:calc(15/12)*1em;
}
.icon-papper {
	font-size:calc(30/10)*1rem;
	width:calc(24/30)*1em;
}
.icon-play {
	font-size:calc(34/10)*1rem;
	width:calc(30/34)*1em;
}
.icon-smile {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-star {
	font-size:calc(30/10)*1rem;
	width:calc(32/30)*1em;
}
.icon-wa {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
