footer.footer 
	.section_in 
		.footer_main 
			.footer_left
				.footer_copyright 
					p © 2023 Все права защищены
				.footer_policy 
					a(href="#") Политика конфиденциальности
			.footer_arkada 
				a(href="#")
					img(src="i/arkada.svg", alt="") 
