extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	section.hero 
		.section_in 
			.hero_main 
				.hero_main_left
					h1 Подключение водителей
					h2 к <span>Я</span>ндекс такси
					p Мы работаем с 2018 года. Являемся сертифицированным партнером ситимобил 1 категории.
					button(type="button") Подключиться
						+icon('arrowright')
				.hero_main_right
					.hero_form_head 
						h2 Заполните форму
						p Мы свяжемся с вами в ближайшее время
						.hero_main_form
							form.hero_form
							.hero_form_input
								input(type="text" placeholder="Имя")
							.hero_form_input
								input(type="tel" placeholder="Телефон")
							.hero_form_input
								input(type="text" placeholder="Город")
							.hero_form_bottom
								.hero_form_btn 
									button(type="submit") Отправить
										+icon('arrowright')
								.hero_policy!='Отправляя форму, вы соглашаетесь с <a href="#"> политикой конфиденциальности.</a>'
	section.basis 
		.section_in 
			.basis_main 
				.basis_head 
					h2 Основные тарифы
				ul
					li
						.li_col_left 
							p Доставка
							button(type="button" class="btnAll") Подключиться
								+icon('arrowright')
						.li_col_right 
							img(src="i/galery/deliverymain.png", alt="")
					li 
						.li_col_left 
							p Грузовой
							button(type="button" class="btnAll") Подключиться
								+icon('arrowright')
						.li_col_right 
							img(src="i/galery/cargomain.png", alt="")
	section.other
		.section_in 
			.other_main
				.other_head 
					h2 Другие тарифы
				.other_main_info 
					ul 
						-for(i = 0; i < 6; i++)
							li
								.other_col_left 
									p Elite
									button(type="button" class="btnAll") Подключиться
										+icon('arrowright')
								.other_col_right 
									img(src="i/category/elite.png", alt="")
	section.action 
		.section_in
			.action_main 
				.action_right 
					img(src="i/galery/action.png", alt="")
				.action_left 
					.action_left_head 
						h2 Акция “Приведи друга”
					.action_left_info 
						p На ежемесячной основе таксопарк выплачивает 1% от общего наката (друга).
						p Это в среднем 100,000 – 150,000 (т.е. за каждого привлеченного друга 1000-1500 руб в месяц. Количество не ограничено).
					.action_left_button 
						button(type="button") Подключиться
							+icon('arrowright')
	section.connect
		.section_in 
			.connect_main
				.connect_head 
					h2 Как подключиться?
				.connect_info 
					ul 
						-for(i = 0; i < 6; i++)
							li
								h3 Заявка
								p Вы оставляете заявку на нашем сайте или звоните по телефону.
	section.conditions
		.section_in 
			.conditions_main 
				.conditions_head 
					h2 Условия для тарифа “Доставка”
				.conditions_info 
					ul 
						li 
							.conditions_img 
								img(src="i/galery/delivery1.png", alt="")
							.conditions_txt 
								h3 Требования к водителям
							.conditions_parametrs
								ul 
									li
										.conditions_icon
											+icon('ok') 
										p Минимальный возраст – 18 лет;
									li
										.conditions_icon
											+icon('ok') 
										p Любое гражданство;
									li
										.conditions_icon
											+icon('ok') 
										p Стаж не имеет значения.
						li 
							.conditions_img 
								img(src="i/galery/delivery2.png", alt="")
							.conditions_txt 
								h3 Требования к автомобилям
							.conditions_parametrs
								ul 
									li
										.conditions_icon
											+icon('ok') 
										p Любой автомобиль.
				.conditions_head 
					h2 Условия для тарифа “Грузовой”
				.conditions_info 
					ul 
						li 
							.conditions_img 
								img(src="i/galery/cargo1.png", alt="")
							.conditions_txt 
								h3 Требования к водителям
							.conditions_parametrs
								ul 
									li
										.conditions_icon
											+icon('ok') 
										p Минимальный возраст – 18 лет;
									li
										.conditions_icon
											+icon('ok') 
										p Любое гражданство;
									li
										.conditions_icon
											+icon('ok') 
										p Стаж не имеет значения.
						li 
							.conditions_img 
								img(src="i/galery/cargo2.png", alt="")
							.conditions_txt 
								h3 Требования к автомобилям
							.conditions_parametrs
								ul 
									li
										.conditions_icon
											+icon('ok') 
										p Автомобиль от 2002 года выпуска.
	section.video 
		.section_in 
			.video_main 
				.video_head 
					h2 Видео с инструкцией подключения
				.video_instuction 
					a(href="https://www.youtube.com/watch?v=X1xaCsLp-6Y&list=RDX1xaCsLp-6Y&start_radio=1" data-fancybox="video") 
						img(src="i/video.png", alt="")
						button(type="button")
							+icon('play')
	section.choise 
		.section_in 
			.choise_main 
				.choise_head 
					h2 Почему стоит выбрать нас?
				.choise_info 
					ul 
						-for(i = 0; i < 4; i++)
							li
								.choise_img 
									+icon('star')
								.choise_txt 
									h3 Быстрый старт
									p Мы быстро подключаем вас к сервисам и обучаем работе с приложением. 
	section.company 
		.section_in 
			.company_main 
				.company_left 
					img(src="i/galery/about.png", alt="")
				.company_right
					.company_head 
						h2 О компании
					.company_info.showMoreBlock
						.company_txt.showMoreTxt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							<br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							<br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.company_btn_more.showMoreBtn
							p.btnAll Показать больше
								+icon('arrowright')
	section.contact 
		.section_in 
			.contact_main 
				.contact_left 
					.contact_head 
						h2 Наши контакты
					.contact_mobil 
						p Телефон
						a(href="#") +7 937 140 19 81
						a(href="#") +7 926 282 88 54
					.contacn_mail 
						p Почта
						a(href="#") mail@mail.ru
					.contact_addres 
						p Адрес
						p Адрес ____________________
				.contact_right 
					.hero_form_head 
						h2 Заполните форму
						p Мы свяжемся с вами в ближайшее время
						.hero_main_form
							form.hero_form
							.hero_form_input
								input(type="text" placeholder="Имя")
							.hero_form_input
								input(type="tel" placeholder="Телефон")
							.hero_form_input
								input(type="text" placeholder="Город")
							.hero_form_bottom
								.hero_form_btn 
									button(type="submit") Отправить
								.hero_policy!='Отправляя форму, вы соглашаетесь с <a href="#"> политикой конфиденциальности.</a>'







